body{
  background: repeating-radial-gradient(gray, white,gray);
  outline: none;
  text-align: center;
  align-content: center;
}
.element{
  min-width: 400px;
}

.form-items{
  text-align: center;
  align-content: center;
  border-radius: 6px;

}
textarea {
  width: 25%;
  padding: 5%;
  resize: none;
}
button{
  width: 13%;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: gray;
  border-radius:4px;
}
select{
  width:27%;
  padding: 8px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:gray;
}

.menu {
  list-style: none; /* Supprime les puces de la liste */
  display: flex; /* Utilise un conteneur flex pour aligner les éléments de la liste sur la même ligne */
}

.menu li {
  margin-right: 10px; /* Ajoute un espacement horizontal entre les éléments de la liste */
}

.menu li:last-child {
  margin-right: auto; /* Supprime la marge de droite pour le dernier élément de la liste */
}

.menu li a {
  text-decoration:double; /* Supprime la décoration de lien par défaut */
  color: #000; /* Définit la couleur du texte pour les liens */
  font-size: medium;

}
h1{
  margin: 0;
}

.container {
  display: flex;
  padding:10px ;
  margin: 15px;
}

.left-block,
.right-block {
  flex: 1 1 auto;
  flex-shrink: 1;
  flex-basis: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 20px;
}
.result{
  max-height:  auto;
  max-width: auto;
  overflow: auto;
  text-align: center;
  max-height: 300px;
  overflow-y: auto;
}
.left-block {
  background-color:white;
  overflow: auto;
  text-align: center;
}
.left-block{
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}

.right-block {
  background-color:white;
  word-wrap: break-word;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;

}

@media screen and (max-width:730px) {
  .container ,
  .navigation{
    flex-direction: column;

  }
}
footer{
  /* text-align: center; */
  bottom:0;
  width: 100%;
  position: fixed;
  padding: 7px;
  background-color:gray;
}
